<h3>Available Contests
<button class="btn btn-sm btn-secondary" routerLink="/contests/add/new" *ngIf="isAdmin()"> <i class="fa fa-plus-circle"></i> Add New</button>
</h3>
<p *ngIf="loading">Loading Contests ...</p>
<div class="spinner-border text-success" role="status" style="margin: 0 auto" *ngIf="loading">
    <span class="sr-only">Loading...</span>
</div>
<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
      aria-selected="true">ONGOING CONTESTS</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile"
      aria-selected="false">UPCOMING CONTESTS</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact"
      aria-selected="false">PAST CONTESTS</a>
  </li>
</ul>
<div class="tab-content" id="myTabContent" *ngIf="!loading">

<!-- ONGOING Contests -->

  <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
    <ng-container *ngFor="let contest of contests; let i=index">        
      <div class="col-xl-4" style="display: inline-block; width: 58vh" *ngIf="live[i].enabled">
          <div class="tile">
              <div class="wrapper">
                  <div class="header">{{contest.name}}</div>
                  <div class="banner-img">
                      <img src="https://cdn.dribbble.com/users/1859102/screenshots/5978343/dribbble-07-07_2x.png" alt="Image 1">
                  </div>
                  <div class="dates">
                      <div class="start">
                          <strong>STARTS</strong> {{contest.startTime | date:"dd/MM/yyyy hh:mm a"}}
                      </div>
                      <div class="ends">
                          <strong>ENDS</strong> {{contest.endTime | date:"dd/MM/yyyy hh:mm a"}}
                      </div>
                  </div>
                  <div class="stats">
                      <div><strong>Registered</strong> {{contest.users.length}} </div>
                  </div>
                  <div class="footer" style="text-align: center">
                      <a class="Cbtn Cbtn-primary" data-toggle="modal" data-target="#rulesModel" (click)="openRules(i)" *ngIf="contest.registered && !contest.attempted && !contest.started"> START NOW </a>
                      <a class="Cbtn Cbtn-danger" [class.alerter]="contest.started" routerLink="/ques/contests/{{contest._id}}" *ngIf="contest.started"> GET INTO IT </a>                      
                      <a class="Cbtn Cbtn-primary" (click)="register(i)" *ngIf="!contest.registered"> REGISTER </a>
                      <p *ngIf="!contest.started && contest.attempted">Already Attempted</p>
                      <a class="Cbtn Cbtn-success" (click)="rankings(i)" *ngIf="(contest.hasScoreBoard && contest.registered) || isAdmin()"> Rank List </a>
                      <a class="Cbtn Cbtn-warning" (click)="stageInfo(i)" data-toggle="modal" data-target="#infoModel">Info</a>
                   </div>
                  <div class="footer" style="text-align: center" *ngIf="isAdmin()">
                      <a class="Cbtn Cbtn-primary" (click)="addQuestion(i)">Add Question</a>
                      <a class="Cbtn Cbtn-warning" (click)="editContest(i)"><i class="fas fa-edit"></i></a>
                      <a class="Cbtn Cbtn-danger" (click)="deleteContest(contest._id)"><i class="fas fa-trash-alt"></i></a>
                  </div>
              </div>
          </div> 
        </div>
    </ng-container>
      <small *ngIf="stats.on == 0">No Ongoing Contests for now... Stay tuned !!!</small>
  </div>

<!-- UPCOMING Contest -->

  <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
      <ng-container *ngFor="let contest of contests; let i=index">        
          <div class="col-xl-4" style="display: inline-block; width: 58vh" *ngIf="!live[i].started">
              <div class="tile">
                  <div class="wrapper">
                      <div class="header">{{contest.name}}</div>
                      <div class="banner-img">
                          <img src="https://cdn.dribbble.com/users/1859102/screenshots/5978343/dribbble-07-07_2x.png" alt="Image 1">
                      </div>
                      <div class="dates">
                          <div class="start">
                              <strong>STARTS</strong> {{contest.startTime | date:"dd/MM/yyyy hh:mm a"}}
                          </div>
                          <div class="ends">
                              <strong>ENDS</strong> {{contest.endTime | date:"dd/MM/yyyy hh:mm a"}}
                          </div>
                      </div>
                      <div class="stats">
                          <div><strong>Registered</strong> {{contest.users.length}} </div>
                      </div>
                      <div class="footer" style="text-align: center">
                          <a class="Cbtn Cbtn-primary" (click)="register(i)" *ngIf="!contest.registered"> REGISTER </a>
                          <a class="Cbtn Cbtn-warning" (click)="stageInfo(i)" data-toggle="modal" data-target="#infoModel">Info</a>
                       </div>
                      <div class="footer" style="text-align: center" *ngIf="isAdmin()">
                          <a class="Cbtn Cbtn-primary" (click)="addQuestion(i)">Add Question</a>
                          <a class="Cbtn Cbtn-warning" (click)="editContest(i)"><i class="fas fa-edit"></i></a>
                          <a class="Cbtn Cbtn-danger" (click)="deleteContest(contest._id)"><i class="fas fa-trash-alt"></i></a>
                      </div>
                  </div>
              </div> 
            </div>
        </ng-container>
      <small *ngIf="stats.up == 0">No Upcoming Contests for now... Stay tuned !!!</small>
  </div>

<!-- PAST Contests -->

  <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
      <ng-container *ngFor="let contest of contests; let i=index">        
        <div class="col-xl-4" style="display: inline-block; width: 58vh" *ngIf="live[i].ended">
            <div class="tile">
                <div class="wrapper">
                    <div class="header">{{contest.name}}</div>
                    <div class="banner-img">
                        <img src="https://cdn.dribbble.com/users/1859102/screenshots/5978343/dribbble-07-07_2x.png" alt="Image 1">
                    </div>
                    <div class="dates">
                        <div class="start">
                            <strong>STARTS</strong> {{contest.startTime | date:"dd/MM/yyyy hh:mm a"}}
                        </div>
                        <div class="ends">
                            <strong>ENDS</strong> {{contest.endTime | date:"dd/MM/yyyy hh:mm a"}}
                        </div>
                    </div>
                    <div class="stats">
                        <div><strong>Registered</strong> {{contest.users.length}} </div>
                    </div>
                    <div class="footer" style="text-align: center">
                        <a class="Cbtn Cbtn-success" (click)="rankings(i)" *ngIf="contest.registered || isAdmin()"> Rank List </a>
                        <a class="Cbtn Cbtn-warning" (click)="stageInfo(i)" data-toggle="modal" data-target="#infoModel">Info</a>
                     </div>
                    <div class="footer" style="text-align: center" *ngIf="isAdmin()">
                        <a class="Cbtn Cbtn-primary" (click)="addQuestion(i)">Add Question</a>
                        <a class="Cbtn Cbtn-warning" (click)="editContest(i)"><i class="fas fa-edit"></i></a>
                        <a class="Cbtn Cbtn-danger" (click)="deleteContest(contest._id)"><i class="fas fa-trash-alt"></i></a>
                    </div>
                </div>
            </div> 
          </div>
      </ng-container>
      <small *ngIf="stats.pa == 0">No Past Contests for now... Stay tuned !!!</small>
  </div>
</div>

<!-- info modal -->
<div class="modal fade" id="infoModel" tabindex="-1" role="dialog" aria-labelledby="infoModel" aria-hidden="true"
  data-backdrop="static">
  <div class="modal-dialog modal-md" role="document">
    <div class="modal-content modal-md">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel2"><span>{{info.cname}}: Information</span></h5>
      </div>
      <div class="modal-body">
        Enables At: {{info.startTime | date:"dd/MM/yyyy hh:mm a"}} <br>
        Disables At: {{info.endTime | date:"dd/MM/yyyy hh:mm a"}} <br>
        Duration: {{info.duration.hours}} hours {{ info.duration.minutes }} minutes <br>
        More: {{info.details}}
      </div>
      <div class="modal-footer">
        <button class="btn btn-sm btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- rules modal -->
<div class="modal fade" id="rulesModel" tabindex="-1" role="dialog" aria-labelledby="rulesModel" aria-hidden="true"
  data-backdrop="static">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content modal-lg">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel3"><span>Rules for {{id}} <strong>(Please go through all of the
              rules carefully)</strong></span></h5>
      </div>
      <div class="modal-body">
        <ol>
          <li *ngFor="let rule of rules"> {{rule}} </li>
        </ol>
      <label>
          <input type="checkbox" [(ngModel)]="agree">
          I have read all the rules and information and promise to abide by them.
      </label>
      </div>
      <div class="modal-footer">
        <button class="btn btn-sm btn-secondary" data-dismiss="modal">Close</button>
        <button class="btn btn-sm btn-info" (click)="goToContest(index)" data-dismiss="modal" [disabled]="!agree">Take me to the Contest</button>
      </div>
    </div>
  </div>
</div>