<section id="team" class="pb-5">
    <div class="container">
        <h5 class="section-title h1">Our Development Team</h5>
        <div class="row">
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="https://i.ibb.co/mymFM3B/debanjan-pic.jpg" alt="card image"></p>
                                    <h4 class="card-title">Debanjan Das Mahapatra</h4>
                                    <p class="card-text">Compute@id Member</p>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">Contact Me</h4>
                                    <p class="card-text">debanjandm123@gmail.com</p>
                                    <p class="card-text">9474042022</p>
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <a href="https://imgbb.com/"><img src="https://i.ibb.co/0XLd6Hm/facebook-icon.png" alt="facebook-icon" border="0"></a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a href="https://imgbb.com/"><img src="https://i.ibb.co/TTFnzt4/in.png" alt="in" border="0"></a>
                                        </li>
                                        
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->
            <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="https://i.ibb.co/TbKfFTk/avnish-Pic.jpg" alt="card image"></p>
                                    <h4 class="card-title">Avnish Kumar</h4>
                                    <p class="card-text">Compute@id Member</p>
                                    <p class="card-text">Software Development Engineer at Informatica</p>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">Contact Me</h4>
                                    <p class="card-text">avnishawi@gmail.com</p>
                                    <p class="card-text">9162023260</p>
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <a href="https://www.facebook.com/avnish.kumar13"><img src="https://i.ibb.co/0XLd6Hm/facebook-icon.png" alt="facebook-icon" border="0"></a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a href="https://www.linkedin.com/in/avnish1306/"><img src="https://i.ibb.co/TTFnzt4/in.png" alt="in" border="0"></a>
                                        </li>
                                        
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</section>