Welcome

<div *ngIf="true">
    <!-- <div *ngIf="!isAttempt&&isEligible && !isAdmin()"> -->
    <div class="row">
        <div class="col-md-9"></div>
        <div class="col-md-3 text-center">
            <div class="col-md-12 time" [class.timeEnough]="timeFlag==0" [class.timeWarning]="timeFlag==1" [class.timeCritical]="timeFlag==2">
                Time Left: <span style="font-weight: bold">{{countTimer}}</span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <li class="list-group-item text-center rounded-0" routerLink="/ques/add/{{cid}}/new" *ngIf="isAdmin()"><i
                    class="fa fa-plus-circle"></i></li>
            <h5 class="text-center">Question Pallete</h5>
            <div class="spinner-border text-success" role="status" style="margin: 0 auto" *ngIf="loading">
                <span class="sr-only">Loading...</span>
            </div>
            <div class="row">
                <div class="col-sm-2 text-center border border-secondary"
                    style="cursor: pointer; border-radius: 20px; padding:10px; margin: 2px; height: 75px;"
                    *ngFor="let que of ques; let i = index" (click)="displayQue(i)"
                    [ngClass]="{'savedd':saved[i] , 'activee': i==index}">
                    <h5 style="vertical-align: middle;">{{i+1}}<br><span *ngIf="marked[i]"><i
                                class="fas fa-check-circle" style="color: blue"></i></span></h5>
                </div>
            </div>
            <br>
            <button class="btn btn-primary float-right" style="margin-right: 30px;" (click)="confirmSubmission()"><i
                    class="fa fa-check"></i> Submit</button>
        </div>
        <div class="col-md-9">
            <div class="card rounded-0" style="font-size:20px;">
                <div class="card-header" *ngIf="selected" data-toggle="modal" data-target="#solvedModal">
                    <div style="float:left">Question <span [innerText]="index+1" id="id"></span>:<span *ngIf="type===1">
                            Single Correct Option Type</span><span *ngIf="type===2"> Multiple Correct Option Type</span>
                        -<small> {{author}} </small></div>
                    <div id="problem-points" style="float:right">+{{points}}, -{{negPoint}}</div>

                    <div style="clear:both"></div>
                </div>
                <div class="card-body" *ngIf="selected">
                    <!-- <div id="problem-desc" [innerHtml]="desc"></div> -->
                    <p [innerHtml]="temp[0]"></p>
                    <textarea *ngIf="temp.length > 1"
                        style="border: 0px; width: 100%; resize: none; background: transparent; font-family: 'Courier New', Courier, monospace"
                        disabled [rows]="temp[1].split('\n').length">{{temp[1]}}</textarea>
                    <p *ngIf="temp.length > 2">{{temp[2]}}</p>
                    <!--textarea id="problem-desc" [value]="desc"></textarea-->
                </div>
                <div class="card-body" *ngIf="!selected">
                    <p>Click on any Question to begin with.</p>
                </div>
                <form [formGroup]="optForm" (ngSubmit)="saveSol(ques[index])" *ngIf="!loading">
                    <div class="card-footer form-group" id="problem-flag" *ngIf="selected ">
                        <label class="col-sm-12" *ngFor="let optC of opt; let i=index" style="cursor: pointer">
                            <input *ngIf="type===1" type="radio" style="width: 1.5em; height: 1.5em" name="opt"
                                value={{optC}} ng-model="opt" [checked]="submitted[i]" (click)="bindSolR(i,ques[index],optC)"
                                formControlName="opt" style="margin-right: 20px">
                            <input *ngIf="type===2" type="checkbox" style="width: 1.5em; height: 1.5em" name="opt"
                                value={{optC}} ng-model="opt" [checked]="submitted[i]" (click)="bindSol(i,ques[index])"
                                formControlName="opt" style="margin-right: 20px">{{optC}}
                            <br>
                        </label>
                        <div class="input-group-append">
                            <!-- <button type="submit"
                                [disabled]="true"
                                class="btn btn-primary btn-sm">Save</button> -->
                            <a *ngIf="saved[index]" class="btn btn-success btn-sm"
                                (click)="clearSol(ques[index])">Clear</a>
                        </div>
                    </div>
                </form>
                <!-- <div class="card-footer" *ngIf="selected && isAdmin()">
              <code></code>
          </div> -->
                <div class="card-footer" *ngIf="selected">
                    <div class="float-right">
                        <button *ngIf="isAdmin()" class="btn btn-warning" (click)="editQuestion(index)"><i class="fa fa-pencil-alt"></i> Edit</button>
                        <button *ngIf="isAdmin()" class="btn btn-danger" (click)="deleteQue()"><i
                                class="fa fa-trash"></i> Delete</button>
                        <button type="button" class="btn btn-warning" (click)="markQuestion(index)">
                            <span *ngIf="!marked[index]"><i class="fas fa-check-circle"
                                    style="color: green"></i>Mark</span>
                            <span *ngIf="marked[index]">Unmark</span>
                        </button>
                        <button class="btn btn-info" *ngIf="index>0" (click)="displayQue(index-1)"><i
                                class="fas fa-arrow-alt-circle-left"></i> Previous</button>
                        <button class="btn btn-info" *ngIf="index<ques.length-1" (click)="displayQue(index+1)">Next <i
                                class="fas fa-arrow-alt-circle-right"></i></button>

                    </div>
                </div>
            </div>
            <br>
        </div>
    </div>
    <div class="row">

    </div>
    <!--div class="modal fade" id="solvedModal" tabindex="-1" role="dialog" aria-labelledby="solvedModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
      <div class="modal-content">
      <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel"><span [innerText]="users.length"></span> Solves</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
          </button>
      </div>
      <div class="modal-body">
          <ul>
              <li *ngFor="let user of users">{{user}}</li>
          </ul>
      </div>
      </div>
  </div>
</div-->
</div>