#problem-name {
	font-size: 30px;
	font-family: 'Zwodrei';
}

#problem-points {
	font-size: 25px;
	font-family: 'Zwodrei';
}

#problem-desc {
	padding: 20px;
	font-family: 'Lato-Medium';
	font-size: 18px;
}

li.list-group-item.saved {
	background-color: rgba(40, 167, 69, 0.5);
}

li.list-group-item.active {
	background-color: rgba(0, 123, 255, 0.5);
	border: none;
}

div.col-sm-2.savedd {
	background-color: rgba(40, 167, 69, 0.5);
}

div.col-sm-2.activee {
	background-color: rgba(0, 123, 255, 0.5);
}

input.ng-invalid.ng-touched {
	border-color: #dc3545;
	border-width: 2px;
}

input.ng-valid.ng-touched {
	border-color: #28a745;
	border-width: 2px;
}

.time {
	color: white;
	font-size: 20px;
	font-family: 'Courier New', Courier, monospace;
}

.timeEnough {
	background: green;
}

.timeWarning {
	background: orange;
}

.timeCritical {
	background: red;
}