<h2>Profile:</h2>
<hr>
<div class="spinner-border text-success" role="status" style="margin: 0 auto" *ngIf="loading">
    <span class="sr-only">Loading...</span>
</div>
<div class="row" *ngIf="!loading">
    <div class="col-3">
        <div class="row">
            <h4>My Information</h4>
        </div>
        <table class="table">
            <tbody>
                <tr>
                    <td>Name:</td>
                    <td> {{userData.name}} </td>
                </tr>
                <tr>
                    <td>Email:</td>
                    <td> {{userData.email}} </td>
                </tr>
                <tr>
                    <td>Contact:</td>
                    <td> {{userData.contact}} </td>
                </tr>
                <tr>
                    <td>College:</td>
                    <td> {{userData.college}} </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-9">
        <div class="row">
            <h4>Contests You Have Registered:</h4>
        </div>        
        <div class="card" style="display: inline-block; width: 29%; margin: 2%" *ngFor="let quiz of userData.quizs; let i=index">
            <div class="card-header">
                <h5 class="card-title">{{quizzes[i].name}}</h5>
            </div>
            <div class="card-body">
                <p class="card-text">Contest Status: <span style="font-weight: bold"> {{quizzes[i].status}} </span></p>
                <p class="card-text">Your Status: <span style="font-weight: bold"> {{quiz.startTime != null ? (quiz.endTime != null ? 'Appeared' : 'Appearing') : 'Yet to Appear'}} </span></p>
                <p class="card-text">Contest Score: <span style="font-weight: bold"> {{quiz.status ? quiz.score : 'Not Available'}} </span></p>
            </div>
            <div class="card-footer">
                <button *ngIf="quizzes[i].hasScoreBoard || isAdmin()" class="btn btn-sm btn-outline-success"
                    routerLink="/contests/ranking/{{quizzes[i]._id}}">Rank List</button>
                <small *ngIf="!quizzes[i].hasScoreBoard && !isAdmin()">Rank List Disabled</small>
                <button class="btn btn-outline-primary btn-sm" data-toggle="collapse" [attr.data-target]="'#collapseExample'+i" aria-expanded="false" [attr.aria-controls]="'collapseExample'+i"> Info </button>
                <div class="collapse" id="collapseExample{{i}}">
                    <p class="card-text" [innerText]="quizzes[i].details != '' ? quizzes[i].details : 'No Info Available'"></p>
                </div>
            </div>
        </div>
    </div>
</div>