<h2>Rank List for Contest: {{cname}}</h2>
<div class="spinner-border text-success" role="status" style="margin: 0 auto" *ngIf="loading">
    <span class="sr-only">Loading...</span>
</div>
<table class="table table-bordered table-striped" *ngIf="!loading">
  <thead class="thead-dark">
    <tr>
      <th>#</th>
      <th>User Name</th>
      <th>Email</th>
      <th>Score</th>
      <th>Time Taken</th>
    </tr>
  </thead>
  <tbody>
      <tr><td colspan="6">Already appeared</td></tr>
      <tr *ngFor="let user of appearedUsers; let i=index">
        <td> {{i+1}} </td>
        <td> {{user.username}} </td>
        <td> {{user.email}} </td>
        <td> {{user.score}} </td>
        <td> {{aTimeArray[i].hh+':'+aTimeArray[i].mm+":"+aTimeArray[i].ss}} </td>
      </tr>
      <tr><td colspan="6">Appearing or Yet to Appear</td></tr>
      <tr *ngFor="let user of notAppearedUsers; let i=index">
        <td> {{i+1}} </td>
        <td> {{user.username}} </td>
        <td> {{user.email}} </td>
        <td> {{user.score}} </td>
        <td> Not Appeared </td>
      </tr>
  </tbody>
</table>